<a href="https://colab.research.google.com/github/AngieDuarteA01/Ciencia-de-datos-/blob/main/Operador_terniario.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
num=int(input("ingrese un numero: "))
print(f"{num} es par") if num % 2 == 0 else print(f"{num} es impar")

ingrese un numero: 9
9 es impar

In [ ]:
def dia(num):
    print("Lunes")

In [ ]:
n1=float(input("escribe un número: "))

print(f"{n1} es par") if n1 % 2 == 0 else print(f"{n1} es impar")
fun= n1%2

escribe un número: 88
88.0 es par

In [ ]:
año=int(input("Ingresa el año: "))

prueba1=año%4
p2=año%400

print("el año es bisiesto") if prueba1==0 or p2==0 else print("el año no es bisiesto")

Ingresa el año: 2004
el año es bisiesto

In [ ]:
Nom=input("Cual es tu nombre?")
edad=int(input("Cual es tu edad?"))

print("El señor/a " + Nom + "tiene prioridad en la fila") if edad>70 else print("El señ@r " + Nom + "no tiene prioridad en la fila")

Cual es tu nombre?ana
Cual es tu edad?13
El señ@r ana no tiene prioridad en la fila

In [ ]:
n1=float(input("escribe un número"))
n2=float(input("escribe otro número"))
n3=float(input("escribe otro número"))

print("el mayor es "+ str(n1)) if n1>n2 and n1>n3 else print("el mayor es "+ str(n2)) if n2>n3  else print("el mayor es "+ str(n3))

escribe un número2
escribe otro número3
escribe otro número5
el mayor es 5.0

In [ ]:
#10.Crea un programa que determine si un triángulo es equilátero, isósceles o escaleno según sus lados.

l1=int(input("Cual es la longitud del primer lado?"))
l2=int(input("Cual es la longitud del segundo lado?"))
l3=int(input("Cual es la longitud del tercer lado?"))

print("el triangulo es equilatero") if l1==l2 and l1==l3 and l2==l3 else print("el triangulo es isoceles") if l1==l2 or l2==l3 or l1==l3 else print("el triangulo es escaleno")

Cual es la longitud del primer lado?2
Cual es la longitud del segundo lado?4
Cual es la longitud del tercer lado?3
el triangulo es escaleno

#*LAMBA*(15-25)

In [ ]:
#15 Desarrolla un programa que valide si tres números pueden formar un triángulo y de qué tipo es

#la longitud de dos de sus lados debe ser mayor a la longitud del tercer lado.

a=float(input("Ingrese el primer lado: "))
b=float(input("Ingrese el segundo lado: "))
c=float(input("Ingrese el tercer lado: "))

if a+b>c and a+c>b and b+c>a:
    print("Es un triangulo")
else :
      print("No es un triangulo")

if a==b and a==c and b==c:
  print("el triangulo es equilatero")
elif a==b or b==c or a==c :
  print("el triangulo es isoceles")
else:
  print("el triangulo es escaleno")

In [ ]:
seronoser = lambda a,b,c: "Es un triangulo" if a+b>c and a+c>b and b+c>a else "No es un triangulo"

In [ ]:
comparar = lambda a,b,c: "el triangulo es equilatero" if a==b and a==c and b==c else "el triangulo es isoceles" if a==b or b==c or a==c else "el triangulo es escaleno"

In [ ]:
a=float(input("Ingrese el primer lado: "))
b=float(input("Ingrese el segundo lado: "))
c=float(input("Ingrese el tercer lado: "))

Ingrese el primer lado: 8
Ingrese el segundo lado: 7
Ingrese el tercer lado: 6

In [ ]:
seronoser(a,b,c)

'Es un triangulo'

In [ ]:
comparar(a,b,c)

'el triangulo es escaleno'

In [ ]:
#16.Crea un programa que muestre la tabla de multiplicar de un número hasta el 10

num=int(input("Ingrese un numero: "))

for i in range(1,11):
    print(num,"x",i,"=",num*i)

In [ ]:
multi = lambda num : [num*i for i in range(10)]

In [ ]:
multi(5)

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45]

In [ ]:
multiplicar= lambda num: [(num,"x",i,"=",num*i) for i in range(9)]

In [ ]:
multiplicar(5)

In [ ]:
#17
suma= lambda num1,num2:["la suma es igual a "+ str(num1+num2)]

In [ ]:
suma(1,2)

['la suma es igual a 3']

In [ ]:
#18. Desarrolla un programa que calcule el factorial de un número. Recuerda que el factorial de 0 es 1 y no existen factoriales negativos.

num=int(input("Ingrese un numero: "))
factorial=1
for i in range(1,num+1):
    factorial=factorial*i
print("El factorial de",num,"es",factorial)

Ingrese un numero: 3
El factorial de 3 es 6

In [ ]:
factorial = lambda num: [("el factorial de" + str(num) + "es" + str(factorial)) for i in range (1,num+1)]

In [ ]:
factorial(3)

['el factorial de3es<function <lambda> at 0x7b5620bd4180>',
 'el factorial de3es<function <lambda> at 0x7b5620bd4180>',
 'el factorial de3es<function <lambda> at 0x7b5620bd4180>']